@using NinjaManager.Data.Models
@model NinjaManager.Web.Models.Gears.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gear</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gold" class="control-label"></label>
                <input asp-for="Gold" class="form-control" />
                <span asp-validation-for="Gold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strength" class="control-label"></label>
                <input asp-for="Strength" class="form-control" />
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intelligence" class="control-label"></label>
                <input asp-for="Intelligence" class="form-control" />
                <span asp-validation-for="Intelligence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agility" class="control-label"></label>
                <input asp-for="Agility" class="form-control" />
                <span asp-validation-for="Agility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    @foreach (Gear.GearCategory category in Enum.GetValues(typeof(Gear.GearCategory)))
                    {
                        <option name="@category">@category</option>
                    }
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}